body{
    background-image: linear-gradient(to right bottom, #ffffff, #efefef, #dfdfdf, #cfcfcf, #c0c0c0);
    background-repeat: no-repeat;
  
}

input{
    margin: auto;
}
#searchform{

}

.showelement{
    display: block;
}
.hideelement{
    display: none;
}

.header{
    border: 1px solid white;
    border-radius: 20px;
    background-color: #DAC3D6;
    width: 80%;
    height: 5rem;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-right: 10%;
    padding-top:5px;
   


}
.title{
    font-family:  "Arial","Times New Roman", "Times", "serif";
    font-size: 25px;
    color: #8685EF;
   margin-left: 5rem;
   padding-left: 4rem;
   display: inline-block;
}

.content{
width: 80%;
height: 50rem;
border-radius: 20px;
background: #FAF8FF;
opacity: 0.5;
margin: auto;
}

  .search{
    border: 1px solid gray;
    border-radius: 5px;
    height: 30px;
    width: 80%;
    padding: 2px 23px 2px 30px;
    background-color: beige;
    margin-top: 3em;
    margin-left: 5em;
  }
  
  .searchbtn{
      margin-top: 10px;
      margin-left: 5px;     
      opacity: 0.3;
  }
  #btnsearchvalidation{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 5%;
    height: 30px;
  }

  .searchresult{
      margin: auto;
      display: flex;
      justify-content:center;
      flex-direction: column;
  }
  .divsearchresult{
      width: 30%;
      height: 100px;
      border: 1px chocolate solid;
      border-radius: 10px;
      margin: auto;
      margin-top: 5px;     
      background-color: #F0EDFF;
      text-align: center;

  }

  .error{
    width: 30%;
    height: 100px;
    border: 1px chocolate solid;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;     
    background-color: #cf164a;
    text-align: center;
    color: black;
  }